<div class="guide-fragment">
    <h2>Welcome to Reprint</h2>

  <p>
    This site contains guides for the Hack CLub YSWS Reprint. 
    To load guides use the open button.
    The guide then loads in the console tab for you to scroll through and veiw
    Also you can use click Mods on the side bar to move to the Mods Page. 
    The Mod Page allows you teo veiw current Mods for Reprint.
    To veiw mods you click "Open" in the file system and the logs will show up in the "3D Log Veiwer"
    
    A remodel means changing the 3D printer in a meaningful way.
    Go beyond just adding small features like auto bed leveling — try something
    new and cool!
    </p>
</div>
