<table class="table table-dark table-bordered align-middle">
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Temp</th>
    <th>Target</th>
  </tr>
  <tr>
    <td>Extruder</td>
    <td>72%</td>
    <td>123</td>
    <td>190</td>
  </tr>
  <tr>
    <td>Heated Bed</td>
    <td>100%</td>
    <td>32</td>
    <td>50</td>
  </tr>
</table>

<table class="table table-dark table-bordered align-middle">
  <tr>
    <th>Position</th>
    <th>X</th>
    <th>Y</th>
    <th>Y</th>
  </tr>
  <tr>
    <td>absoulute</td>
    <td>32.35</td>
    <td>0.72</td>
    <td>0.00</td>
  </tr>
</table>

<table class="table table-dark table-bordered align-middle">
  <tr>
    <th>Speed</th>
    <th>Flow</th>
    <th>Filament</th>
    <th>Layer</th>
  </tr>
  <tr>
    <td>0 mm/s</td>
    <td>0.0 mm^3/s</td>
    <td>0.00 mm</td>
    <td>0 of 150</td>
  </tr>
</table>