<div>
{% for printer in site.printers %}

<article class="post-preview">
  <a href="{{ printer.url | relative_url }}">
    <h2 class="post-title">{{ printer.title }}</h2>

    {% if printer.subtitle %}
      <h3 class="post-subtitle">{{ printer.subtitle }}</h3>
    {% endif %}
  </a>

  <p class="post-meta">
    Posted by
    {% if printer.author %}
      {{ printer.author }}
    {% else %}
      {{ site.author }}
    {% endif %}
    on {{ printer.date | date: '%B %d, %Y' }}
    · {% include read_time.html content=printer.content %}
  </p>
</article>

<hr />

{% endfor %}
</div>