html{
    background-color: rgb(12, 8, 70);
    font-family: "Pixelify Sans", sans-serif;
    overflow: hidden;
}
body{
    color: var(--text-color) !important; 
    font-family:"Pixelify Sans", sans-serif;
}
.flag{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
}

.printer {
    position: relative;
    width: 500px;   /* Set your desired printer width */
    height: 500px;  /* Keeps alignment stable */
    background-color: transparent;
}

.printer img {
    position: absolute;
    left: 0;
    top: 0;
    width: 10% !important;
    height: 10% !important;
    max-width: 10% !important;
    pointer-events: none;
}

/* Offset the rail inside the printer */
.printer .rail {
    width: 10% !important; /* size of the tool head */
}

/* Offset the tool so it sits on the rail */
.printer .tool {

    width: 20%; /* size of the tool head */
}

.image {
    width: 50%;
    height: 50%;
    max-width: 50%;
}

.info{
    position: absolute;
    left: 240px;
    top: 749px;
    width: 310px;
    height: 4px;
    overflow: hidden;
    font-size: 20px;
    background-color: transparent;
}
.intro{
    font-size: 25px;
    
}
.rp-btn{
    border: 5px solid var(--secondary-color);
    border-radius: 10%;
    background-color: var(--secondary-color);
    font-size:20px;
}
.rp-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.options-box {
    padding: 10px;
    background-color: transparent;
    display: flex;
    align-items: center; /* Centers vertically */
    transform: translateY(550%);
}

.phone {
    font-family: "Pixelify Sans", sans-serif;
    margin: 0 auto;
    height: 50%;
    background-color: rgb(8, 6, 48) !important;
    border: 5px solid var(--primary-color);
    border-radius: 20px;
    transform: translateY(-1000px);
}

.bg-color-dark {
    background-color: rgb(8, 6, 48) !important;
}

.bg-color {
    background-color: rgb(12, 8, 70) !important;
}


:root {
    --primary-color: rgb(232,114,4);
    --secondary-color: rgb(162,82,11);
    --tertiary-color: rgb(113,57,6);

    --text-color: rgb(255, 123, 0);
}