<div class="parent">
    <div class="div1 "> {% include navbars/navbar.html %} </div>
    <div class="div2 screenel"> <nav class="navbar eltitle bg-body-tertiary"><div class="container-fluid ">Console</div></nav> </div>
    <div class="div3 screenel"> <nav class="navbar eltitle bg-body-tertiary"><div class="container-fluid ">Files</div></nav> </div>
    <div class="div4 screenel"> <nav class="navbar eltitle bg-body-tertiary"><div class="container-fluid ">Webcam</div></nav> {% include screenboxes/boxes/printerimg.html %} <div style="position: relative; margin-left: 5px; bottom: 65px;">● Live</div> </div>
    <div class="div5 screenel"> <nav class="navbar eltitle bg-body-tertiary"><div class="container-fluid ">Stats</div></nav> {% include screenboxes/boxes/printerstats.html %} </div>
</div>