/* Layout grid */
.parent {
    display: grid;
    height: calc(98vh - 50px);
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.div1 { 
    grid-area: 1 / 1 / 5 / 2; /* span all rows */
    display: flex;
}
.div2 { grid-area: 1 / 2 / 3 / 5; }
.div3 { grid-area: 3 / 2 / 5 / 5; }
.div4 { grid-area: 1 / 5 / 3 / 7; }
.div5 { grid-area: 3 / 5 / 5 / 7; }

/* Small screens: stack elements vertically */
@media (max-width: 900px) {
    .parent {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .screenel {
        width: 100%;
        max-width: 100%;
    }
}