:root {
    --primary-color: rgb(232,114,4);
    --light-color: rgb(73, 73, 73);
    --dark-color: rgb(107, 107, 107);

    --text-color: rgb(255, 123, 0);
}


html{
    background-color: #151515;
    font-family: "Pixelify Sans", sans-serif;

}
body{
    color: var(--text-color) !important; 
    font-family:"Pixelify Sans", sans-serif;
}
.flag{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
}

.printer {
    position: relative;
    width: 500px;   
    height: 500px;  
    background-color: transparent;
}

.printer img {
    position: absolute;
    left: 0;
    top: 0;
    width: 10% !important;
    height: 10% !important;
    max-width: 10% !important;
    pointer-events: none;
}

.printer .rail {
    width: 10% !important; 

}

.printer .tool {
    position: absolute;
    width: 20%;
}

.image {
    width: 50%;
    height: 50%;
    max-width: 50%;
}

.info{
    position: absolute;
    left: 240px;
    top: 739px;
    width: 310px;
    height: 4px;
    overflow: hidden;
    font-size: 20px;
    background-color: transparent;
}
.intro{
    font-size: 25px;
    
}
.rp-btn{
    border: 5px solid var(--secondary-color);
    border-radius: 10%;
    background-color: var(--secondary-color);
    font-size:20px;
}
.rp-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.options-box {
    padding: 10px;
    background-color: transparent;
    display: flex;
    align-items: center; /* Centers vertically */
    transform: translateY(550%);
}

.phone {
    font-family: "Pixelify Sans", sans-serif;
    margin: 0 auto;
    height: 50%;
    background-color: rgb(8, 6, 48) !important;
    border: 5px solid var(--primary-color);
    border-radius: 20px;
    transform: translateY(-1000px);
}

.bg-color-dark {
    background-color: rgb(8, 6, 48) !important;
}

.bg-color {
    background-color: rgb(12, 8, 70) !important;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10;
  width: 5%;
  background-color: #262626;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.navbarel a {
  display: block;
  color: #000;
  padding: 8px 0px;
  text-decoration: none;
}

/* Change the link and background color on hover */
.navbarel a:hover {
  background-color: #555555;
  color: white;
}

.parent {
  display: grid;
  height: calc(100vh - 50px); /* subtract topnav */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}


.div1 { grid-area: 1 / 1 / 5 / 2; }
.div2 { grid-area: 1 / 2 / 3 / 5; }
.div3 { grid-area: 3 / 2 / 5 / 5; }
.div4 { grid-area: 1 / 5 / 3 / 7; }
.div5 { grid-area: 3 / 5 / 5 / 7; }


.screenel {
    border: rgb(232,114,4);
    border-radius: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #262626;
  overflow: hidden; /* Clear floats */
  position: fixed; /* Fix the navbar to the top of the page */
  top: 0;
  width: 100%; /* Full width */
  z-index: 9999; /* Ensure it is above other content */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left; /* Float links to the left to appear side-by-side */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /* Remove underlines from links */
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* To prevent content from being hidden by the fixed nav bar, add margin-top to the body or main content div */
body {
    margin-top: 50px; /* Adjust this value based on your navbar's height */
}
