<div class="print" style="width:100%; height: 100%;">
    <div class="base" style="width:100%;">
        <img class="image" style="z-index: 2; " src="{{ 'assets/icons/base.svg' | relative_url }}" alt="Base">
    </div>

    <div class="rail " style="width:100%;">
        <img class="image" style="transform: translateY(-85%) translateX(-5%); z-index: 2;" src="{{ 'assets/icons/rail.svg' | relative_url }}" alt="Rail">
    </div>

    <div class="tool " style="width:100%;">
        <img class="image" style="transform: translateY(-186%) translateX(-25%); z-index: 2;" src="{{ 'assets/icons/tool.svg' | relative_url }}" alt="Tool">
    </div>
</div>